//Colors
@ui-black: #0e1414;
@ui-black-light: #121717;
@ui-grey: #c5c7c7;
@ui-grey-dark: #999a9a;
@ui-white: #ffffff;
@ui-focus: rebeccapurple;

//Screen size mobile first
@brakepoint-xs: 480px;
@brakepoint-s: 768px;
@brakepoint-m: 1024px;

//Fonts
@font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  sans-serif;
@font-mono: 'Courier New', Courier, 'Lucida Console', monospace;
